---
import { tryMakeEmbed } from '../utils/embed'

const { url } = Astro.props as { url: string }

const prefersDark = true
const embed = tryMakeEmbed(url, prefersDark)
---

{
  embed ? (
    <Fragment set:html={embed.html} />
  ) : (
    <a href={url} rel="noopener noreferrer" target="_blank" class="break-all underline">
      {url}
    </a>
  )
}
